@font-face {
    font-family: "Li Xuke";
    src: url("lixuke.eot"); /* IE9 */
    src: url("lixuke.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("lixuke.woff") format("woff"), /* chrome, firefox */
    url("lixuke.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("lixuke.svg#Li Xuke") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


